:root{
    --green-one: #4aaaa5; 

    --blk-0: #000000; 
}
*,*::before,*::after{
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
}
*::selection{
    color: var(--green-one); 
}
.logo-animated{
    color: #2bc72b;
}
.center-image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%; 
}
@media(max-width:792px){
    body{
        background:#ccc; 
    }
    .center-image{
        width:400px; 
        max-width:100%; 
    }
}